body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FBEED7, #D9C19D, #B7966B, #946D43);

}

.logo{
    top: 0px;
    left: 0px;
    display:block;
    width: 10%;
}

.logo img {
    width: 100px;
    height: auto;
}

.container{
    width: 100%;
    margin: auto;
    display: flex;
}

.navbar {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
}
.navbar button {
    color:#FFFFFF;
    background-color: #374F25;
    font-size: 14px;
    font-weight: 200;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #FFFFFF;
}


.banner .container {
    align-items: center;
   flex-direction: column;
    font-size: 25px;
    width: 800px;
    height: 50%; 
}
.banner .container .cadastro{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.banner .container button{
    margin-top: 30px;
    color:#FFFFFF;
    background-color: #374F25;
    font-size: 14px;
    font-weight: 200;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #FFFFFF;
}

.banner .container .cadastro .box{
   display: flex;
   flex-direction: column;
   color: #374F25;
   font-weight: 600;
   font-family: "Hind Madurai", sans-serif;
   font-style: normal;
   width: 340px;
}

.banner .container h1 {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #2E1402;
}

.banner .container .cadastro .box input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    border-color: #374F25;
    border-width: 3px;
  }
  
  .banner .container .cadastro .box p {
    margin-bottom: 10px;
  }

