@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
}

.header .container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header .logo{
    top: 0px;
    left: 0px;
    display:block;
    width: 10%;
}

.header .logo img{
    width: 100px;
    height: auto;
}

.header .container .navbar{
    width: 650px;
    list-style: none;
    display: flex;
    justify-content: end;
    justify-content: space-evenly;
    align-items: end;
}

.navbar a{
    color: #2E1402;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}

.navbar a:hover{
    color: #36561E;
    text-decoration: underline;
}

.banner .container{
    width: 100%;
    height: 900px;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    justify-content: center;
    align-items: center;
    background-image: url("./assets/jo-lanta-68KjM0kfsVo-unsplash.jpg");
}
.form{
    width: 55%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #B7966B;
    padding: 3rem;
    border-radius: 5px;
    margin-bottom: 50px;
}
.form-header{
    margin-bottom: 1rem;
    display: flex;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #36561E;
    margin: 0 auto;
    position: absolute;
    border-radius: 25px;
}

.input-group{
    width: 95%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.input-box{
    display: flex;
    flex-direction: column;
}

.input-box input{
    margin: 0.9rem 0;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input-box p{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box select{
    margin: 0.6rem 0;
    padding: 0.6rem 1.0rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c; 
}


.form .continue-button button{
    width: 300px;
    border: none;
    background-color: #2E1402;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 350px;
}

.continue-button button:hover{
    background-color: #36561E;
}

.continue-button button a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}









